<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="carousel.css" rel="stylesheet">
    <title>Supercar Introduction</title>
  </head>
  <body >
<header>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/home">Supercar Introduction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="/home" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
             <a class="dropdown-item" href="/Maserati">Maserati</a>
             <a class="dropdown-item" href="/McLaren">McLaren</a>
             <a class="dropdown-item" href="/Bugatti">Bugatti</a>
        </div>
        </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other Supercar</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.ferrari.com/en-TW" target=_blank>Ferrari</a>
          <a class="dropdown-item" href="https://www.audi.com/en.tags.models.datedesc.html" target=_blank>Audi</a>
          <a class="dropdown-item" href="https://www.tesla.com/zh_tw/models" target=_blank>Tesla</a>
        </div>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/new-entry" tabindex="-1" aria-disabled="true">Contact us</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>
<main role="main">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="6.jpg" class="d-block w-100 h-75 d-inline-block">
      <div class="carousel-caption d-none d-md-block">
          <h1>BREAKING NEW DIMENSIONS.</h1>
          <h1>ONCE AGAIN.</h1>
        </div>
    </div>
    <div class="carousel-item">
      <img src="1.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
          <h1>CELEBRATING A LEGENDARY BRAND.</h1>
        </div>
    </div>
    <div class="carousel-item">
      <img src="3.jpg" class="d-block w-100">
      <div class="carousel-caption d-none d-md-block">
          <h1>110 YEARS OF BUGATTI.</h1>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="col-lg-4">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/Maserati">Maserati</a></li>
    <li class="breadcrumb-item"><a href="/McLaren">McLaren</a></li>
    <li class="breadcrumb-item active" aria-current="page">Bugatti</li>
  </ol>
</nav>
</div>
<div class="container marketing">
<div class="row">
    <div class="col-4">
      <div class="list-group" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">History</a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Bugatti Brand Legends</a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">110 Years Of Automotive Passion</a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Customer Experience</a>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><h2>2019</h2><h2>CELEBRATING THE 110TH ANNIVERSARY</h2>Ettore Bugatti followed his passion to create perfect automobiles ever since he created his first engineering composition at the age of 17 years old in 1898. In 1909 Ettore forever changed the world of car manufacturing when he decided to create his own path and own legend. He turned engineering into a form of art and strived for perfection on all levels like no one else. In Molsheim he set the foundation of one of the world’s most astonishing brands. It is the home of BUGATTI and where Ettore became “Le Patron”. Celebrating a rich and unparalleled 110 year history in 2019, we proudly look back while embracing an even more exciting future whilst continuously living the spirit of Ettore.</div>
        <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><h2>THE BUGATTI TALES</h2><h5>BEYOND OUTSTANDING AUTOMOTIVE DEVELOPMENT</h5>A customer complained that his car did not start properly in winter.</div>
        <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><h2>110 ANS Bugatti: La Grande Fête - Guestbook</h2>In 1909 Ettore Bugatti laid the foundation for the incomparable journey of the BUGATTI brand. Proudly looking back at 110 years of fulfilling engineering dreams, in 2019 we are celebrating this unparalleled heritage and embracing an even more exciting future together with our BUGATTI family. Crowning our celebratory anniversary year, in September – the birth month of Ettore Bugatti –, two special events took place: The Grand Tour and the Grande Fête.</div>
        <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><h2>PHILOSOPHY</h2>“a technical product is only perfect when it’s aesthetically perfect too.” this philosophy comes from ettore bugatti – and we are so committed to upholding it that we have added an extra dimension: the bugatti service for our customers, who regard the best as only just good enough.</div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
    <div class="row">
      <div class="col-lg-4">
        <div class="card" style="width: 22rem ;">
           <img src="bugatti-1.png" class="card-img-top" alt="mclaren-gt">
          <div class="card-body">
             <h2 class="card-title">CHIRON</h2>
             <p>BREAKING NEW DIMENSIONS.</p>
             <p class="card-text">The CHIRON is the fastest, most powerful, and exclusive production super sports car in BUGATTI’s history. Its sophisticated design, innovative technology, and iconic, performance-oriented form make it a unique masterpiece of art...</p>
             <a href="https://www.bugatti.com/chiron" class="btn btn-outline-warning">View detail &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 22rem ;">
           <img src="7.png" class="card-img-top" alt="granturismo_front">
          <div class="card-body">
             <h2 class="card-title">CENTODIECI</h2>
             <p>Sculptural beauty meets iconic power.</p>
             <p class="card-text">The Centodieci continues Bugatti’s successful 110-year course of exceptional design and performance, while reviving the memory of the brand’s recent history. With the Centodieci – Italian for 110 – Bugatti created a reinterpretation of the epochal EB110, which, when presented in 1991, was considered...</p>
             <a href="https://www.bugatti.com/one-off/centodieci/" class="btn btn-outline-warning">View detail &raquo;</a>
          </div>
        </div> 
      </div>
      <div class="col-lg-4">
        <div class="card" style="width: 22rem ;">
           <img src="8.png" class="card-img-top" alt="granturismo_front">
          <div class="card-body">
             <h2 class="card-title">VEYRON GRAND SPORT VITESSE</h2>
             <p>THE ROADSTER VERSION OF THE VEYRON 16.4 SUPER SPORT.</p>
             <p class="card-text">the bugatti veyron 16.4 grand sport vitesse, the roadster version of the veyron 16.4 super sport, is also a superlative supercar. “vitesse” is the french word for speed. the grand sport vitesse is the fastest and most powerful production roadster in the world. </p>
             <a href="https://www.bugatti.com/veyron/veyron-164-grand-sport-vitesse/" class="btn btn-outline-warning">View detail &raquo;</a>
          </div>
        </div> 
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">AERODYNAMICS – STREAMLINED FOR SUCCESS.</h2>
        <p class="lead">Air curtains located at the corners of the front bumper and air outlets on the front wheel housings release excess pressure, generating slight downforce and reducing resistance. The new rear design is also sure to turn heads. The so-called Longtail extends the body 25 centimeters, allowing the laminar flow to...</p>
        <a href="https://www.bugatti.com/chiron-super-sport-300/"><button type="button" class="btn btn-outline-warning">View more</button></a>
      </div>
      <div class="col-md-5">
        <img src="2017-Bugatti.jpg" width="500" height="500" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">BUGATTI BRAND VALUES</button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        there is no other automotive brand like it in the world: bugatti is unique. it was already unique during ettore bugatti’s lifetime, and it has retained this unique status ever since the brand’s renaissance in 1998 as a subsidiary of the volkswagen group – a renaissance that is unparalleled in the history of motoring.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">BUGATTI CAREERS</button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body"><h5>UPHOLD HISTORY</h5>
        An inimitable vision, the powerful tradition of legendary sportscars as well as the precise craftsmanship in development, construction and manufacturing, shape the brand since being founded by Ettore Bugatti in 1909. Until today, the brand embodies the pursuit of sublime perfection. A tradition to which we feel committed and that we want to carry forward with you.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">ATELIER</button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body"><h5>THE FACTORY IN MOLSHEIM</h5>
       Everything runs like clockwork at the Studio in Molsheim: directly adjacent to the family’s ancestral home, Château St. Jean, this is where the supercars are manufactured with superlative precision. The aluminium-clad building, modelled on the macaron shape of the brand logo, has a steel construction that makes it appear to float. It looks more like an artist’s studio than a car factory. This is where unique cars are made by hand for unique customers, motoring connoisseurs who want maximum individuality and exclusivity. The interior is streamlined and functional. The bright, well-lit production workshop exudes the same perfection, minimalist beauty and love of detail that characterise the brand’s cars. Highly qualified mechanics assemble cars in three assembly areas – one car in each area. This is followed by the “exterior”, “interior” and “final touch” production areas, where the cars’ exterior and interior fittings are installed before a final quality check is carried out. Each time, something unique and absolutely perfect is the result: a Bugatti.
      </div>
    </div>
  </div>
</div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">ABSOLUTE DYNAMISM.</h2>
        <p class="lead">ABy slimming down the BUGATTI signature line, the body has a visual horizontal division, emphasised by a special colour scheme. The upper portion is fluid and muscular, while the lower section is technical and angular, reinforcing the car’s forceful appearance...</p>
        <a href="https://www.bugatti.com/divo/"><button type="button" class="btn btn-outline-warning">View more</button></a>
      </div>
      <div class="col-md-5 embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hqDT5_4z_YI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <hr class="featurette-divider">
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="Bugatti-1.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="Bugatti-2.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="Bugatti-3.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="Bugatti-4.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="Bugatti-5.jpg" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="Bugatti-6.jpg" class="d-block w-100">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    </div>

    <hr class="featurette-divider">

  </div>
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2020-{{ Happy New Year | date: "01/02" }} Company,Chen. &middot; <a href="https://getbootstrap.com/">Bootstrap</a> &middot; <a href="https://www.pccu.edu.tw/">PCCU</a></p>
  </footer>
</main>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>