<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2020-{{ Happy New Year | date: "01/02" }} Company,Chen.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://getbootstrap.com/">Bootstrap</a></li>
      <li class="list-inline-item"><a href="https://www.pccu.edu.tw/">PCCU</a></li>
    </ul>
  </footer>
</body>
</html>